.carousel {
    width: 100%;
    display: flex;
    overflow-x: auto;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.card img {
    margin: 10px;
    padding: 10px;
    flex: 1;
    min-width: 100px;
}

.group {
    flex: 0 0 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 10s infinite linear;
    padding-right: 1em;
}

@keyframes spin {
    from {
        translate: 0%;
    }

    to {
        translate: -100%;
    }
}